fastapi
uvicorn[standard]
gunicorn
requests
streamlit
langchain
langchain-groq
langgraph
langchain-community
langchain-redis
langchain-huggingface
langsmith
pypdf
python-dotenv
sentence-transformers
rank-bm25
deepeval
pydantic